<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>JPA-Board</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <div th:replace="/fragments/headHeader.html :: fragment-head"></div>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css" />
</head>
<body>
<main>
<h1>글 보기</h1>
<div class="container">
    <div class="row">
        <div class="col form-group">
            <!-- <label for="boardTitle">제목</label> -->
            <input type="hidden" class="form-control" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}" />
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label for="boardTitle">제목</label>
            <input type="text" class="form-control" id="boardTitle" name="boardTitle" th:value="${board.boardTitle}" />
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label for="boardAuthor">작성자</label>
            <input type="text" class="form-control" id="boardAuthor" name="boardAuthor" th:value="${board.boardAuthor}" readonly/>
        </div>
    </div>   
    <div class="row">
        <div class="col form-group">
            <div id="editor1" name="boardContent" th:utext="${board.boardContent}"></div>
            <div id="viewer1"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4 text-end">
            <button type="button" id="cancleAction" class="btn btn-outline-danger">취소</button>
            <button type="button" id="createAction" class="btn btn-outline-primary">수정</button>
        </div>       
    </div>

    <br/>
    <hr/>

    <!-- 댓글 입력 부분 -->
    <div class="row">
        <div class="col-2">
            <label for="boardCommentAuthor">작성자</label>
            <input type="text" class="form-control" id="boardCommentAuthor" name="boardComentAuthor" th:value="익명" readonly/>
        </div>
        <div class="col-8 from-group">
            <div id="editor2" class="boardCommentContent" name="boardCommentContent"></div>
            <div id="viewer2"></div>
        </div>
        <div class="col-2 text-end">
            <button type="button" id="createAction" class="btn btn-outline-primary">등록</button>
        </div>
    </div>

    <br/>
    <hr/>

    <!-- 댓글 목록 부분 -->
    <div class="row" id="commentsList">
        
    </div>
    
</div>
</main>
<!-- toastui-editor 게시글 부분 -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor1'), // 에디터를 적용할 요소 (컨테이너)
        height: '500px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
        initialEditType: 'wysiwyg',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
        initialValue: '',                       // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
        previewStyle: 'vertical',               // 마크다운 프리뷰 스타일 (tab || vertical)
        placeholder: '',
    });
</script>
<!-- toastui-editor-viewer 게시글 부분 -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
<script>
    const viewer = new toastui.Editor({
        el: document.querySelector('#viewer1'),
        height: '500px',
        initialValue: ''
    });
</script>

<!-- 게시글 수정 action method -->
<script>
    const actionButton = document.getElementById("createAction");
    actionButton.addEventListener("click", () => {
        const boardIdx = document.getElementById("boardIdx").value;
        const boardTitle = document.getElementById("boardTitle").value;
        const boardAuthor = document.getElementById("boardAuthor").value;
        const boardContent = editor.getHTML();

        const url = "/board/updateAction";
        const params = JSON.stringify({
            boardIdx: boardIdx,
            boardTitle: boardTitle,
            boardAuthor: boardAuthor,
            boardContent: boardContent
        });

        try {
            fetch(url, {
                method: "POST",
                headers: { 
                    "Content-Type": "application/json",
                },
                body: params
            })
            .then((res) => res.json())
            .then((data) => {
                console.log(data);
                if(data.data = "/") {
                    location.href = "/";
                }
                else {
                    alert("글 등록 실패");
                    location.reload(true);
                }
            })
        }
        catch(e) {
            console.error("글 쓰기 실패");
            console.error(e);
        }
    })

    // 수정취소 및 뒤로가기
    const cancleButton = document.getElementById("cancleAction");
    cancleButton.addEventListener("click", () => {
        location.href="/";
    });
</script>

<!-- 댓글 작성 에디터 -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const commentEditor = new toastui.Editor({
        el: document.querySelector('#editor2'), // 에디터를 적용할 요소 (컨테이너)
        height: '300px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
        initialEditType: 'wysiwyg',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
        initialValue: '',                       // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
        previewStyle: 'vertical',               // 마크다운 프리뷰 스타일 (tab || vertical)
        placeholder: '',
        
    });
</script>
<!-- 댓글 뷰어 -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
<script>
    const commentEditorViewer = new toastui.Editor({
        el: document.querySelector('#viewer2'),
        height: '300px',
        initialValue: ''
    });
</script>

<!-- 댓글 작성하기 -->
<script async>
    const boardCommentAuthor = document.querySelector("#boardCommentAuthor").value;
    const boardCommentContent = commentEditor.getHTML();
    const boardIdx = document.getElementById("boardIdx").value;

    const params = JSON.stringify({
        boardCommentAuthor: boardCommentAuthor,
        boardCommentContent: boardCommentContent,
        boardIdx: boardIdx
    });

    const createRequestURL = "/boardComment/createBoardComment";
    const createRequestOptions = {
        method: "POST",
        headers: { 
            "Content-Type": "application/json",
        },
        body: params
    }

    await fetch(createRequestURL, createRequestOptions)
    .then((res) => res.json())
    .then((data) => {
        console.log(data);
        if(data !== undefined) {
            location.reload(true);
        }
        else {
            alert("댓글 등록 실패");
            location.reload(true);
        }
    })
</script>

<!-- 댓글 불러오기 -->
<script async>
    const url = "/boardComment/getBoardComments?boardIdx=";    

    const commentsList = document.querySelector("#commentsList");
    const noComment = document.createElement("p");
    noComment.className = "text-center";
    noComment.innerText = "댓글이 없습니다.";

    const options = {
        method: "GET",
        headers: { 
            "Content-Type": "application/json",
        },
    }
    window.addEventListener('DOMContentLoaded', () => {
        fetch(url+boardIdx, options)
        .then(res => res.json())
        .then((data) => {
            if(data.data === null || data === undefined) {
                commentsList.appendChild(noComment);
            }
        })
    });
</script>
</body>
</html>
