<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user Index</title>
</head>
<body>
    <main>
        <div>
            <h3>Welcome <span id="userAccount"></span></h3>
            <a id="signBtn" href="/user/signIn">로그인</a>
        </div>
        <div id="list">

        </div>
    </main>
</body>
<script type="text/javascript">    
    const accessToken = document.cookie.split("=")[1];
    // console.log(accessToken);    
    const signOutRequest = () => {
        const requestURL = "/user/signOut";
        document.cookie = "accessToken=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
        window.location.href = requestURL;
        console.log("logout Done...");
    };

    const updateSignInUser = async (accessToken) => {
        const requestURL = "/user/updateSignInUser?accessToken="+accessToken;

        // let formData = new FormData();
        // formData.set("accessToken", accessToken);

        let option = {
            method: "GET",
            // body: formData
        }
        
        return await fetch(requestURL, option)
            .then(response => response.json())
            .then(data => {
                // console.log(data);
                return data;
            })
            .catch(err => {
                console.error(err);
                return 0;
            })
    }

    const userInfo = updateSignInUser(accessToken);
 
    userInfo.then((result) => {
        const userAccountEl = document.querySelector("#userAccount");
        const signBtnEl = document.querySelector("#signBtn");
        const divListEl = document.querySelector("#list");

        const userAccountValue = result.userAccount;

        if(userAccountValue === undefined) {
            userAccountEl.innerHTML = "GUEST"
        }
        else {
            userAccountEl.innerHTML = userAccountValue;
            signBtnEl.innerHTML = "로그아웃";
            signBtnEl.setAttribute("id", "signBtn");
            signBtnEl.setAttribute("href", "/user/signOut");

            const spanEl = document.createElement("span");
            spanEl.setAttribute("onclick", "item01()");
            spanEl.innerHTML = "item01";

            const spanEl02 = document.createElement("span");
            spanEl02.setAttribute("onclick", "item02()");
            spanEl02.innerHTML = "item02";

            divListEl.appendChild(spanEl);
            divListEl.appendChild(spanEl02);
        }

    })

    const item01 = () => {
        fetch("/item/test01")
            .then(response => response.text())
            .then(data => alert(data))
    }

    const item02 = () => {
        const requestURL = "/item/test02";
        const option = {
            method: "POST",
            headers: {
                "accessToken": accessToken
            },
        };

        fetch(requestURL, option)
            .then(response => response.text())
            .then(data => {
                console.log("item02 result");
                console.log(data);
            })
    }
    
</script>
</html>