<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User signIn</title>
</head>
<body>
    <main>
    <h3>User 로그인</h3>
    <form method="POST" action="/user/signInProcess">
        <label for="userAccount">아이디</label>
        <input type="text" id="userAccount" name="userAccount" value="" />
        <br/>
        <label for="userPass">패스워드</label>
        <input type="password" id="userPass" name="userPass" value="" />
        <br/>
        <input type="submit" value="로그인"/>
    </form>
    </main>
</body>
</html>