<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin SignUp</title>
</head>
<body>
    <main>
    <h3>운영자 회원가입</h3>
    <form method="POST" action="/user/signUpProcess">
        <label for="userAccount">아이디</label>
        <input type="text" id="userAccount" name="userAccount" value="" />
        <br/>
        <label for="userPass">패스워드</label>
        <input type="password" id="userPass" name="userPass" value="" />
        <br/>
        <input type="submit" value="회원가입"/>
    </form>
    </main>
</body>
</html>